/* No Padding Bootstrap Grid */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn{
    &.btnblu{border: 1px solid #00588d; border-radius: 0; color: #FFF; background-color: #0077c0; padding: 6px 18px; text-transform: uppercase;}
}
.nptgrp{
    position: relative; width: 100%; margin-bottom: 25px; display: inline-block;

    &.err{
        textarea, select, input[type=text], input[type=password]{
            border: 1px solid #923f3f;
        }
    }
    
    textarea, select, input[type=text],
    input[type=password]{
        border: 1px solid #BDBDBD; padding: 8px 10px; font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif; width: 100%;
        
        &:focus{outline:none;}
        &:focus ~ label, &:valid ~ label{
            top: -15px;
            left: 0;
            font-size: 10px;
            letter-spacing: 1px;
            font-weight: bold;
            color: #4B97C9;
            text-transform: uppercase;
        }
    }

    label{
        color: #999;  font: 14px/16px 'Open Sans',Helvetica,Arial,sans-serif; position: absolute; pointer-events: none; left: 10px; top: 9px;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
    }

    .popcntnr{
        position: absolute; right: -40px; bottom: 40px;
        .popover{
            position: relative; display: block; border-radius: 0; border: 1px solid #923f3f;
            &.top{
                .arrow{border-top-color: rgb(88, 3, 3);}
            }

            .popover-content{
                padding: 4px 28px 4px 10px; font-size: 13px;
                .rmve{
                    position: absolute; right: 0; top: 0; color: #FFF; cursor: pointer;
                    background-color: #EB5B40; padding: 5px 6px;
                }
            }
        }
    }
}
